@font-face{
    font-family: myFont;
    src: url('google.ttf');
}
body {
    background: rgb(255, 255, 255);
}

.clock_client {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    font-size: 60px;
    font-family: 'myFont';
}

.clock_server {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    font-size: 60px;
    font-family: 'myFont';
}